# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Beast-Mode.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\true4\Documents\GitHub\Beast-Mode\.idea\.idea.Beast-Mode\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
